{{define "app"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="" href="/public/output.css">
</head>

<body class="w-full h-screen ">
  <main class="m-auto w-full p-2 lg:w-[50%] ">
    <nav class="w-full flex justify-between items-baseline border-b-2 ">
      <h1 class="text-2xl">VISIO</h1>
      <div class="flex gap-5">
        <a class="hover:underline" target="_blank" rel="noreferrer" href="https://github.com/TheWisePigeon/visio">
          <h1>GitHub</h1>
        </a>
        <a class="hover:underline" target="_blank" rel="noreferrer" href="https://discord.gg/DsGc5EvQ">
          <h1>Discord</h1>
        </a>
      </div>
    </nav>
    {{template "main" .}}
  </main>
</body>

</html>
{{end}}
