<head>
  <title>Visio | Authenticate</title>
</head>

<div class="h-screen w-full flex flex-col items-center justify-center">
  <div>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Your email</span>
      </div>
      <input type="text" placeholder="A cool email" class="input input-bordered w-full max-w-xs" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Your password</span>
      </div>
      <input type="password" placeholder="A cool email" class="input input-bordered w-full max-w-xs" />
    </label>
  </div>
</div>
