<head>
  <title>Visio | Authenticate</title>
</head>

<div x-data="init()" class="w-full h-screen flex flex-col items-center justify-center">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>
    </div>
    <div class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <div>
        <label for="email" class="sr-only">Email</label>
        <div class="relative">
          <input x-model="email" autocomplete="off" type="email" name="email" required
            class="w-full lg:w-96 rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter email" />
        </div>
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <div class="relative">
          <input x-model="password" type="password" required
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter password" />
        </div>
      </div>
      <div class="flex items-center justify-between">
        <p class="text-sm text-gray-500">
          <button class="flex" @click="switchAction($data)" type="button">
            <h1 class="underline" x-text="alternateAction"></h1>
          </button>
        </p>
        <button x-text="action" x-bind:disabled="loading" type="button" @click="authenticate($data)"
          class="inline-block rounded-lg bg-black px-5 py-3 text-sm font-medium text-white">
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function init() {
    return {
      loading: false,
      email: "",
      password: "",
      action: "Login",
      alternateAction: "No account? Register",
      switchAction: function () {
        if (this.action == "Login") {
          this.action = "Register"
          this.alternateAction = "Got an account? Login"
          return
        }
        if (this.action == "Register") {
          this.action = "Login"
          this.alternateAction = "No account? Register"
          return
        }
      },
      authenticate: async function ({ email, password, action }) {
        if (email == '' || password == '') {
          return
        }
        const data = JSON.stringify({ email, password })
        console.log(data)
        const response = await fetch(
          `/api/auth?action=${action}`,
          {
            method: "POST",
            body: data,
            headers: {
              "Content-Type": "application/json"
            }
          }
        )
        statusCode = response.status
        switch (statusCode) {
          case 400:
            alert("Wrong credentials")
            return
          case 500:
            alert("Something went wrong! Try again or contact support")
            return
          case 201:
            alert("Account created! Redirecting you...")
            window.location.href = "/home"
          case 200:
            alert("Login successful! Redirecting you...")
            window.location.href = "/home"
          default:
            alert("Something went wrong! Try again or contact support")
            return
        }
      }
    }
  }
</script>