{{define "main"}}

<head>
  <title>Visio | Authenticate</title>
</head>

<form class="w-full h-screen flex flex-col items-center justify-center">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">Get started today!</h1>
    </div>
    <div class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <div>
        <label for="email" class="sr-only">Email</label>
        <div class="relative">
          <input autocomplete="off" type="email" name="email" required
            class="w-full lg:w-96 rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter email" />
        </div>
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <div class="relative">
          <input type="password" name="password" required
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter password" />
        </div>
      </div>
      <div class="flex items-center justify-between">
        <p class="text-sm text-gray-500 flex">
          <button _="
            on click 
              if #action_button.innerText is 'Login' 
                set my.innerText to 'Login instead'
                set #action_button.innerText to 'Register'
              else
                set my.innerText to 'Register instead'
                set #action_button.innerText to 'Login'
            " class="flex underline" type="button">
            Register instead
          </button>
        </p>
        <button id="action_button" type="submit"
          _="on click toggle @disabled until htmx:afterOnLoad"
          class="inline-block w-32 rounded-lg bg-black px-5 py-3 text-sm font-medium text-white">
          Login
        </button>
      </div>
    </div>
  </div>
</form>
{{end}}
