{{define "main"}}
<head>
  <title>Visio | Landing page</title>
</head>

<main class="flex flex-col items-center justify-center h-screen w-full">
  <div class="flex flex-col items-center">
    <h1 class="text-5xl lg:text-7xl font-bold">VISIO</h1>
    <h1 class="text-center">Face detection and recognition at your fingertips.</h1>
  </div>
  <div class="flex gap-5 mt-5">
    <a class="border p-2 rounded-md w-32 text-center" target="_blank" href="https://github.com/TheWisePigeon/visio#README">
      <h1>GitHub</h1>
    </a>
    <a class="border p-2 rounded-md bg-black text-white w-32 text-center" href="/auth">
      <h1>Try it</h1>
    </a>
  </div>
</main>
{{end}}
